.App {
  font-family: sans-serif;
  padding: 50px;
}

.container {
  border: solid 1px #5c94bd;
  border-radius: 20px;
  padding: 30px;
  margin: 10px auto;
  max-width: 500px;
}

.App p {
  font-size: 10px;
  text-align: center;
}
