.city {
  font-weight: 900;
  font-size: 50px;
}
.details {
  font-size: 20px;
  margin: 0px;
  padding-bottom: 5px;
}
.value {
  font-size: 30px;
}

.celsius {
  font-size: 12px;
  position: relative;
  top: -12px;
}
