.Weather h1 {
  font-weight: 900;
  font-size: 50px;
}

.Weather img {
  margin-left: 20px;
  font-size: 50px;
  margin-top: -15px;
}

.Weather ul {
  margin: 0px;
  padding: 0px;
}

.Weather li {
  font-size: 16px;
  list-style: none;
  padding: 0px;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 50px;
}

.Weather form {
  margin-top: 20px;
}

.Weather .unit {
  font-size: 11px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -26px;
}
